.h1-contact {
  text-align: center;
  font-family: "Poppins" sans-serif;
  font-size: 60px;
  color: #fff;
}

.h2-contact {
  text-align: center;
  font-family: "Poppins" sans-serif;
  font-size: 50px;
  color: #fff;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 30px;
  resize: vertical;
  text-align: center;
}

input[type="submit"] {
  padding: 18px 40px;
  margin-top: 25px;
  font-size: 16px;
  color: #f1f1f1;
  background: #9fc490;
  border: none;
  font-weight: 700;
  font-family: "Poppins" sans-serif;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

input[type="submit"]:hover {
  opacity: 0.7;
  color: #c0dfa1;
}

.container {
  border-radius: 5px;
  padding: 200px;
  display: flex;
  justify-content: center;
}

form {
  width: 900px;
}

.col-75 {
  width: 100%;
  margin: 15px;
  align-items: center;
}

/*when the screen is less than 820px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 820px) {
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
