
/* sayra */

/* tyson */


/* alejandro */

/* kyla */
body {
  background-color: #011936;
  /* .navLogo {
    width: 80px;
    height: auto;
    display: inline; */
}

/* nav-logo {
    left: 30px;
    padding: 22px;
    position: relative;
    color: #fff;
    font-size: 19px;
    font-family: Poppins;
    text-decoration: none;
} */

/* nav-logo a { 
   color: inherit; 
   text-decoration: none;
}  */

.navbar {
  overflow: hidden;
  background-color: none;
  text-align: center;
  z-index: 6;
}

/* setting the style for the nav bar as a whole */

.navLogo {
  width: 200px;
  height: auto;
  display: inline;
}

/* sizing the logo in the nav */

.navbar a {
  display: inline-block;
  margin-right: -4px;
  color: #fff;
  padding: 20px 22px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
  z-index: 9;
}

/* setting style for the individual elements of the nav bar i.e home link and so on */

.navbar a:hover {
  background-color: #9fc490;
  color: #465362;
  cursor: pointer;
}

/* hover appearance */

.navbar .icon {
  display: none;
}

footer {
  background: none;
  padding: 90px 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* setting the style for the wole footer */

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

/* sizing and adusting the footer container */

.logo {
  width: 200px;
  height: auto;
}

/* sizing logo in footer */

.social-media {
  margin: 20px 0;
  padding-top: 0px;
}

/* sizing social media logos in footer */

.social-media a {
  color: #9fc490;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

/* styling social media logo links */

.social-media a:hover {
  color: #c0dfa1;
}

/* social media hover styling */

.right h1 {
  font-size: 26px;
}

/* right side of the footer */

.border {
  width: 100px;
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #9fc490;
}

/* line underneath footer text on right side */

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* placing the text input area */

.txtb {
  flex: 1;
  padding: 18px 40px;
  margin-top: 25px;
  font-size: 16px;
  color: #465362;
  background: #fff;
  border: none;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

/* textbox styling */

.btn {
  padding: 18px 40px;
  margin-top: 25px;
  font-size: 16px;
  color: #f1f1f1;
  background: #9fc490;
  border: none;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

/* styling the button in the footer */

.btn:hover {
  opacity: 0.7;
  color: #c0dfa1;
}

/* how the hover over the button looks */

.page-content {
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }

  .right {
    width: 100%;
    margin-bottom: 60px;
  }

  .left {
    width: 100%;
    text-align: center;
  }
}

/* right and left side of the footer */

@media screen and (max-width: 700px) {
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 820px) {
  .navbar a {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
    width: 60px;
  }
}

@media screen and (max-width: 820px) {
  .navbar.responsive {
    position: relative;
    top: 73px;
  }
  .navbar.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
