/* sayra */
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#background-Video {
  border: 2px solid white;
  border-radius: 15px;
  position: relative;  /* keeps the video in place when user scrolls  */
  min-width: 100%;   /* cover entire page */
  min-height: 100%; /* cover entire page  */
  object-fit: cover; /* sizes the background video to keep its original aspect ratio while filling the screen, clipping out edges of the video when necessary. */
  z-index: 1; /* use this to send img to background */
  
 } 


 .content {
  text-align: center;
  padding: 0;
  margin: 0;
  justify-content: center;
 }
 
/* texts on video */
 .content h1 {
color: #C0DFA1;
font-size: 10 px;
padding: 13px;
font-family: 'Poppins', sans-serif;
 }
 

 .content h1 a {
text-decoration: none;
text-decoration-line: none;
color: #C0DFA1;
display: inline-block;
border: 2px solid navy;
border-radius: 50px;
padding: 20px;
 }

 .content h1 :hover {
  color: #82A3A1;
 }

 .slideshow-container {
  width: 40%; /*  moves content over  */
  margin: auto; /* centers images on site */
  /* overflow: hidden; */
  border: 5px solid black; /* changes color of slideshow border */
}

.carousel-slide {
display: flex; /* displays images next to each other */
width: 100%;
height: 500px;
}